<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- 引入AngularJS-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

	<!-- 分页组件开始 -->
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script src="../plugins/angularjs/pagination.js"></script>
	<!-- 分页组件结束 -->

	<!-- 把提出去的JS 引回来-->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script src="../js/controller/baseController.js"></script>
	<script src="../js/service/orderService.js"></script>
	<script src="../js/controller/orderController.js"></script>


</head>
<body class="hold-transition skin-red sidebar-mini"
	  ng-app="pinyougou" ng-controller="orderController">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">订单管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">
							<div class="box-tools pull-right">
								<div class="has-feedback">
									状态：<select ng-model="searchEntity.status">
									<option value="">全部</option>
									<option value="1">未付款</option>
									<option value="2">已付款</option>
									<option value="3">未发货</option>
									<option value="4">已发货</option>
									<option value="5">交易成功</option>
									<option value="6">交易关闭</option>
									<option value="7">待评价</option>
								</select>
									订单：<input >
									<button class="btn btn-default" ng-click="search('1','10')">查询</button>
								</div>
							</div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th>
										  <th class="sorting_asc">订单ID</th>
									      <th class="sorting">用户ID</th>
									      <th class="sorting">收货人手机</th>
									      <th class="sorting">支付类型</th>
									      <th class="sorting">买家昵称</th>
										  <th class="sorting">下单时间</th>
										  <th class="sorting">订单更新时间</th>
										  <th class="sorting">物流名称</th>
										  <th class="sorting">物流单号</th>
										  <th class="sorting">交易完成时间</th>
										  <th class="sorting">交易关闭时间</th>
									      <th class="sorting">状态</th>
									      <th class="sorting">买家留言</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox"></td>
				                          <td>{{entity.strOrderId}}</td>
				                          <td>{{entity.userId}}</td>
				                          <td>{{entity.receiverMobile}}</td>
				                          <td>{{entity.paymentType==1?"在线支付":"货到付款"}}</td>
				                          <td>{{entity.buyerNick}}</td>
				                          <td>{{entity.createTime}}</td>
				                          <td>{{entity.updateTime}}</td>
				                          <td>{{entity.shippingName}}</td>
				                          <td>{{entity.shippingCode}}</td>
				                          <td>{{entity.endTime}}</td>
				                          <td>{{entity.closeTime}}</td>
				                          <td>{{statusList[entity.status]}}</td>
				                          <td>{{entity.buyerMessage}}</td>
										  <td class="text-center">
											  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
													  ng-click="findOne(entity.strOrderId)">修改收货信息
											  </button>
										  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->

  <!-- 编辑窗口 -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h3 id="myModalLabel">编辑</h3>
			  </div>
			  <div class="modal-body">
				  <table class="table table-bordered table-striped" width="800px">
					  <tr>
						  <td>收货人</td>
						  <td><input class="form-control" ng-model="entity.receiver" placeholder="收货人"></td>
					  </tr>
					  <tr>
						  <td>收货人手机</td>
						  <td><input class="form-control" ng-model="entity.receiverMobile" placeholder="收货人手机"></td>
					  </tr>
					  <tr>
						  <td>收货人邮编</td>
						  <td><input class="form-control" ng-model="entity.receiverZipCode" placeholder="收货人邮编"></td>
					  </tr>
					  <tr>
						  <td>收货人地区名称(省，市，县)街道</td>
						  <td><input class="form-control" ng-model="entity.receiverAreaName" placeholder="收货人地区名称(省，市，县)街道"></td>
					  </tr>
				  </table>
			  </div>
			  <div class="modal-footer">
				  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>
</body>

</html>